<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head('Home')"></head>
<body class="bg-light text-center">

<div th:replace="fragments :: navbar"></div>

<div class="container mt-5">
    <h1 class="display-4 text-primary mb-5">Best of the year by <span th:text="${nome}"></span></h1>
    <div class="card mb-5 shadow-sm mx-auto" style="max-width: 800px;">
        <img src="https://via.placeholder.com/800x300" class="card-img-top" alt="Copertina">
        <div class="card-body">
            <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum vestibulum.
                Cras venenatis euismod malesuada. Nulla facilisi. Pellentesque habitant morbi tristique senectus et netus
                et malesuada fames ac turpis egestas.
            </p>
        </div>
    </div>
</div>

</body>
</html>
