<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head('Best Movies')"></head>
<body class="bg-light">
<div th:replace="fragments :: navbar"></div>
<div class="container mt-4 text-center">
    <h2>Best Movies</h2>
    <div class="list-group my-4">
        <a th:each="movie : ${movies}" th:href="@{/movies/{id}(id=${movie.id})}" th:text="${movie.title}" class="list-group-item list-group-item-action"></a>
    </div>
    <a href="/" class="btn btn-outline-secondary">Torna alla Home</a>
</div>
</body>
</html>

